@font-face {
    font-family: 'FavoritC';
    src: url('FavoritC.woff2') format('woff2'),
         url('FavoritC.woff') format('woff'),
         url('FavoritC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritC-Italic.woff2') format('woff2'),
         url('FavoritC-Italic.woff') format('woff'),
         url('FavoritC-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritLightC.woff2') format('woff2'),
         url('FavoritLightC.woff') format('woff'),
         url('FavoritLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritLightC-Italic.woff2') format('woff2'),
         url('FavoritLightC-Italic.woff') format('woff'),
         url('FavoritLightC-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritHeavyC.woff2') format('woff2'),
         url('FavoritHeavyC.woff') format('woff'),
         url('FavoritHeavyC.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritHeavyC-Italic.woff2') format('woff2'),
         url('FavoritHeavyC-Italic.woff') format('woff'),
         url('FavoritHeavyC-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritC-Bold.woff2') format('woff2'),
		 url('FavoritC-Bold.woff') format('woff'),
         url('FavoritC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritC-BoldItalic.woff2') format('woff2'),
         url('FavoritC-BoldItalic.woff') format('woff'),
         url('FavoritC-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'FavoritC';
    src: url('FavoritExtraBoldC.woff2') format('woff2'),
         url('FavoritExtraBoldC.woff') format('woff'),
         url('FavoritExtraBoldC.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}